body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.padding {
	padding-top: 30px;
}

.welcome {
	display: inline;
}

.search {

	width: 50%;
	margin: 0 auto;
}

.card {
	width: 50%;
	margin: 0 auto;
}

.card-img-top {
	object-fit: cover;
	height: 10rem;
	width: 20rem;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: center;
}

.card-btn {
	width: 50%;
	margin: 0 auto;
}
