body {
  padding-top: 94px;
}

@media (min-width: 992px) {
  body {
    padding-top: 96px;
  }
}

.dropdown-item{
  color: #484848;
  font-family: "Muli";
}

a.dropdown-item{
  text-decoration: none;
}