body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.dropdown-item{
  color: #484848;
  font-family: "Arial";
}

a.dropdown-item{
  text-decoration: none;
}